/*primeira seção */
.container__img {
    text-align: center;
}

.secao__1 {
    text-align: justify;
}
/*secao_2 */
.secao__2 {
    margin-top: 20px;
    text-align: justify;
}
.secao__2 img {
    margin: 20px 0;
}
/*secao_3 */
.secao__3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.secao__3 dl {
    margin: 0 10px;
}
.secao__3 dd{
    text-align: justify;
    margin: 0 20px;
}
/*secao de videos*/
.secao__videos {
    margin: 10px 0;
}

.conteudo__videos {
    margin: 10px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.conteudo__videos__video {
    width: 420px;
    display: block;
}

.conteudo__videos__video video {
    max-width: 100%;
}

.conteudo__videos__descricao {
    box-sizing: border-box;
    padding: 50px 25px;
    text-align: justify;
    width: 300px;
}

/*secao de audio*/
.conteudo__podcast {
    margin: 10px 0;
}
.conteudo__podcast li {
    list-style: none;
}
.conteudo__podcast audio {
    width: 100%;
}
audio::-webkit-media-controls-panel {
    background-color: rgba(0, 128, 0, 0.377);
}
/*conteudo extra*/
.conteudo__extra h3 ,
.conteudo__extra h4 {

    margin: 5px 0;
}
.conteudo__extra li{
    margin: 2px 0;
    list-style: none;
}
.conteudo__extra a {
    text-decoration: none;
    color: rgba(0, 128, 0, 0.788);
}
.conteudo__extra a:hover {
    color:green
}