
.texto-conteudo {
    box-sizing: border-box;
    text-align: justify;
}
.conteudo figure{
    margin: 50px auto;
    max-width: 720px;
    min-width: 200px;
}
.conteudo img {
    max-width: 100%;
    max-height: 100%;
}
.lista-de-links li{
    list-style: none;
    margin: 5px 0;
}
.lista-de-links a{
    color: green;
    text-decoration: none;
}
.container h1 {
    letter-spacing: 5px;
}
.container h2,
.container h3,
.container h4 {
    line-height: 2em;
}
.container p{
    padding: 0 10px;
}
.container dl {
    padding: 15px;
}
.container dd {
    margin: 5px 20px;
}
.logo h2{
    line-height: 1em;
}
/*videos*/ 
.video {
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.video h3 {
    text-align: center;
    margin:20px 0;
}
.video video {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 600px;
}
/*podcast*/
.podcast li {
    list-style: none;
    padding-left: 20px;
}
.podcast audio {
    width: 100%;
}
audio::-webkit-media-controls-panel {background-color: rgba(0, 128, 0, 0.377);}
/*conteudo extra*/
.conteudo-extra {
    margin-top: 15px;
    background-color: #ffffe0;
}