.formulario {
    margin: 100px auto;
    width: 400px;
}

.formulario input.enviar {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 20px;
    background-color: green;
    color: white;
    margin: 20px auto;
}