
.texto-conteudo {
    box-sizing: border-box;
    text-align: justify;
}
.container {
}
.lista-de-links li{
    list-style: none;
    margin: 5px 0;
}
.lista-de-links a{
    color: green;
    text-decoration: none;
}
.container img {
    display: block;
    margin: 20px auto;
    width: 700px;
    height: auto;
}
.container h1,
.container h2,
.container h3,
.container h4 {
    line-height: 2em;
}
.container p{
    padding: 0 10px;
}
.container dl {
    padding: 15px;
}
.container dd {
    margin: 5px 20px;
}
.logo h1,
.logo h2{
    line-height: 1em;
}