* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
  .header__topo {
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/banner_do_site.png);
    background-color: #ffce01;
    background-size: contain;
    background-repeat: repeat-x;
}
.header__topo__logo a{
    font-size: 1.2em;
    color: rgba(0, 100, 0, 0.295);
    text-align: justify;
    text-decoration: none;
}
.header__topo__navbar ul{
    display: flex;
    flex-flow: row nowrap;
}
.header__topo__navbar ul li {
    background-color: rgba(0, 100, 0, 0.295);
    margin: 0 5px;
    padding: 2px 4px;
    font-size: 1em;
    list-style: none;
    text-transform: uppercase;
}
.header__topo__navbar a {
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    color: green;
}
.header__topo__navbar a:hover{
    color: rgb(1, 58, 1);
}
/*Principal do site */
main {
    background-color:#0477b58e;
}
.main__container{
    background-color: white;
    box-sizing: border-box;
    margin: 0 auto;
    width: 70%;
    min-height: 1000px;
    padding: 30px 30px;
}
/*Rodape do site */
.rodape {
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 80px;
    background-color: #ffce01;
}
