/*Lista presente nas páginas de Aparelhos*/
.listaAP {
    margin-left: 40px;
    margin-right: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
    list-style: disc;
}

/*Itens da lista presente nas páginas de Aparelhos*/
.listaAP li {
    margin-top: 20px;
}

/*Posicionamento do botão presente nas páginas de Aparelhos*/
.botoesAC {
    text-align: left;
    margin-left: 15px;
}

/*Estilo do botão presente nas páginas de Aparelhos*/
.botaoAC {
    background-color: green;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

/*Animação quando o mouse é passado sobre o botão*/
.botaoAC:hover {
    cursor: pointer;
    background-color: greenyellow;
}
