/*Texto presente na página Países que usam energia limpa*/
.texto {
    box-sizing: border-box;
    text-align: justify;
}

/*Imagens presentes na página Países que usam energia limpa*/
.imgPEL {
    height: 300px;
    width: 400px;
}

/*Lista na navbar presente na página Países que usam energia limpa*/
.navbarPEL ul {
    display: flex;
    flex-flow: row nowrap;
}

/*Itens da lista na navbar presente na página Países que usam energia limpa*/
.navbarPEL ul li {
    background-color: rgba(0, 100, 0, 0.295);
    margin: 0 5px;
    padding: 2px 4px;
    font-size: 1em;
    list-style: none;
}

/*Tag details presente na página Países que usam energia limpa*/
details {
    text-align: center;
}

/*Animação quando passar o mouse sobre a tag details*/
details:hover {
    cursor: pointer;
}
