/*PÁGINA AVALIAÇÃO*/
.cabecalhoAV {
    width: 100%;
    height: 180px;
    background-color: yellow;
    color: white;
    align-items: center;
    text-align: center;
}

.avaliacao {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.conteudoFieldset {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.botoesAV {
    text-align: center;
}

.botaoAvaliacao {
    background-color: yellow;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.botaoAvaliacao:hover {
    cursor: pointer;
    background-color: green;
}
/*-------------------------------------------------------------------------------------*/
