* a {
  text-decoration: none;
  color: rgba(0, 128, 0, 0.788);
}
* a:hover {
  color: #3cafa4;
}

main {
  min-height: 85vh;
}

#header nav {
  text-shadow: 1px 1px 1px black;
}

.container {
  background-color: #3cafa4;
  padding-top: 10vh;
  position: relative;
  display: grid;
  grid-template-columns: auto 220px;
  grid-template-areas: "principal  lateral";
}
.container__principal {
  box-sizing: border-box;
  background-color: white;
  margin: 0 64px;
  padding: 0 10px;
  grid-area: principal;
}
.container__principal article header {
  margin: 28px 0;
}
.container__principal article section p {
  margin: 8px 0;
}
.container__principal article section figure {
  margin: 0 auto;
  width: 60vw;
  height: 400px;
}
.container__principal article section figure img {
  width: 100%;
  height: 100%;
}
.container__principal article section ol {
  list-style: none;
}
.container__principal article section ol li {
  text-align: justify;
}
.container__lateral {
  background-color: white;
  grid-area: lateral;
  padding-left: 10px;
}
.container__lateral header {
  padding: 10px 0;
}
.container__lateral ul {
  list-style: none;
}
.container__lateral ul li {
  padding: 10px 0;
  font-size: 12px;
}
.container__lateral ul li a {
  text-decoration: none;
}

.videos__video {
  display: block;
  width: 100%;
}
.videos__descricao {
  display: block;
  width: 60vw;
  margin: 0 auto;
}

.container-sobrenos {
  background-color: #3cafa4;
}
.container-sobrenos main {
  background-color: white;
  margin: 10vh auto 0 auto;
  width: 80%;
  padding: 0 16px;
  line-height: 25px;
}
.container-sobrenos main h2 {
  padding: 10px 0;
}

.container-calculadora {
  margin-top: 10vh;
  position: relative;
}
.container-calculadora main {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}
.container-calculadora main #calculadora {
  background-color: #ccc;
}

.container-avaliacao {
  margin: 10vh auto 0 auto;
  position: relative;
  background-color: #3cafa4;
}
.container-avaliacao main {
  background-color: white;
  margin: 10vh auto 0 auto;
  width: 70%;
  padding: 0 16px;
  line-height: 25px;
}
.container-avaliacao fieldset {
  border: none;
}
.container-avaliacao fieldset input {
  width: 100%;
}
.container-avaliacao fieldset textarea {
  width: 100%;
}
.container-avaliacao fieldset button {
  background-color: green;
  color: white;
}

.rodape {
  line-height: 6vh;
  text-align: center;
  vertical-align: center;
  background-color: #F7E919;
}

.header {
  background: #f7e919 url("/assets/img/banner.png");
  background-size: contain;
  height: 10vh;
  width: 100%;
  display: grid;
  position: fixed;
  z-index: 2;
  top: 0;
  grid-template-columns: 200px 500px auto 100px;
  grid-template-areas: "logo navbar . .";
  align-items: center;
}
.header__logo {
  grid-area: logo;
  text-align: center;
}
.header__navbar {
  grid-area: navbar;
}
.header__navbar ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.header__navbar ul li {
  list-style: none;
}

#modal-videos {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.301);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
