.container-avaliacao{
    margin: 10vh auto 0 auto;
    position: relative;
    background-color: #3cafa4;
    main{
        background-color: white;
        margin: 10vh auto 0 auto;
        width: 70%;
        padding: 0 16px;
        line-height: 25px;
    }
    fieldset{
        border: none;
        input{
            width: 100%;
        }
        textarea{
            width: 100%;
        }
        button{
            background-color: green;
            color: white;
        }
    }
}