.container-sobrenos{
    background-color: #3cafa4;
    main{
        background-color: white;
        margin: 10vh auto 0 auto;
        width: 80%;
        padding: 0 16px;
        line-height: 25px;
        h2{
            padding: 10px 0;
        }
    }
}